<div class="card">
     <div class="card-header ch-alt">
        <h2>New page type <code data-ng-bind="vm.types ? '2/4':'2/3'"></code>
            <small>
                Please choose which kind of page type you wish to create. If you select a page type with custom fields, you also need to supply names for the new database table and its primary key.
            </small>
        </h2>        
    </div>
    <div class="card-body card-padding">
        <form role="form">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label for="typeDisplayName">Page type has custom fields</label>
                    </div>
                </div>
            </div>          
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <div class="toggle-switch">
                            <input id="tw-switch" type="checkbox" hidden="hidden" data-ng-model="vm.types">
                            <label for="tw-switch" class="ts-helper"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-hide="vm.types">
                <div class="row">
                    <div class="col-sm-12">
                        <blockquote class="m-b-25">
                            <p>The page type is only a container without custom fields.</p>
                        </blockquote>
                    </div>                
                </div>
            </div>
            <div data-ng-show="vm.types">
                <div class="row">
                    <div class="col-sm-12">
                        <blockquote class="m-b-25">
                            <p>The page type has custom fields.</p>
                        </blockquote>
                    </div>                
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label for="typeName">Type name</label>
                            <input type="text" class="form-control input-sm" id="typeName" placeholder="Page type name">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn bgm-green" data-ui-sref="types.add.2">Next <i class="zmdi zmdi-arrow-forward"></i></button>
        </form>     
    </div>    
</div>

