<div class="card-header ch-alt">
    <h2>New page type <code>(3/4)</code> <small>Please define custom fields of the page type and their appearance in the editing form. You can define fields, such as SKU, product weight, press release text, etc.</small></h2>  
</div>
<div class="card m-b-0 atopline" id="messages-main">
    <div class="ms-menu min-height-form" data-ng-class="{ 'toggled': mactrl.lvMenuStat }">
        <div class="ms-block text-center">
             <div class="btn-group"> 
                <button type="button" class="btn btn-primary waves-effect" data-ng-click="vm.add()"><i class="zmdi zmdi-plus"></i></button>
                <button type="button" class="btn btn-primary waves-effect"><i class="zmdi zmdi-chevron-up" data-ng-click="vm.moveUp();"></i></button>
                <button type="button" class="btn btn-primary waves-effect"><i class="zmdi zmdi-chevron-down" data-ng-click="vm.moveDown();"></i></button>                
            </div>
        </div>

        <div class="listview lv-user m-t-20 lv-listview">            
            <div class="lv-field-item media" data-ng-repeat="item in vm.data.fields" data-ng-click="vm.selectField(item)" data-ng-class="{'active': (vm.selectedField!==undefined && vm.selectedField.id===item.id)}">
                <div class="lv-avatar bgm-red pull-left" data-ng-bind="vm.getIcon(item)"></div>
                <div class="media-body">
                    <div class="lv-title" data-ng-bind="item.name"></div>
                    <div class="lv-small" data-ng-bind="item.description"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ms-body min-height-form">
        <form>
            <div class="listview lv-message">
                <div class="lv-header-alt clearfix">
                    <div id="ms-menu-trigger"  data-ng-class="{ 'open': mactrl.lvMenuStat }" data-ng-click="mactrl.lvMenuStat = (mactrl.lvMenuStat===true ? false : true )">
                        <div class="line-wrap">
                            <div class="line top"></div>
                            <div class="line center"></div>
                            <div class="line bottom"></div>
                        </div>
                    </div>

                    <div class="lvh-label hidden-xs" data-ng-bind="vm.selectedField.name"></div>

                    <ul class="lv-actions actions" data-ng-show="vm.selectedField">
                        <li>
                            <a href="" data-ng-click="vm.delete()">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </li>             
                    </ul>
                </div>

                <div class="lv-body lv-padding" data-ng-hide="vm.selectedField">
                    <p>Please select or add a new field for editing...</p>
                </div>
                <div class="lv-body" data-ng-show="vm.selectedField">
                     <div class="lv-field-item media">
                        <div class="col-sm-4">
                            &nbsp;
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <blockquote class="m-b-25">
                                <p class="text-uppercase">General</p>
                            </blockquote>
                        </div>
                    </div>                     
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Field name</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Field name" data-ng-model="vm.selectedField.name">
                            </div>  
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Data type</label>
                                <select chosen data-placeholder="Select a type..." class="w-100" data-ng-model="vm.selectedField.dataType">
                                    <option selected="selected" value="docattachments">Attachments</option>
                                    <option value="boolean">Boolean (Yes/No)</option>
                                    <option value="date">Date</option>
                                    <option value="datetime">Date and time</option>
                                    <option value="decimal">Decimal number</option>
                                    <option value="file">File</option>
                                    <option value="double">Floating-point number (Double precision)</option>
                                    <option value="integer">Integer number</option>
                                    <option value="longinteger">Long integer number</option>
                                    <option value="longtext">Long text</option>
                                    <option value="docrelationships">Pages</option>
                                    <option value="text">Text</option>
                                    <option value="timespan">Time interval</option>
                                    <option value="guid">Unique identifier (GUID)</option>
                                </select>
                            </div>  
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Size</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Size" data-ng-model="vm.selectedField.size">
                            </div>  
                        </div>
                    </div>  
                     <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Required</label>
                                <div class="checkbox m-b-15">
                                    <label>
                                        <input type="checkbox" value="" data-ng-model="vm.selectedField.required">
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>  
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Description</label>
                                <textarea class="form-control" data-auto-size placeholder="Field type description..." data-ng-model="vm.selectedField.description"></textarea>
                            </div>  
                        </div>
                    </div>   
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Default value</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Default value" data-ng-model="vm.selectedField.defaultValue">
                            </div>  
                        </div>
                    </div>                     
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <blockquote class="m-b-25">
                                <p class="text-uppercase">Field appearance</p>
                            </blockquote>
                        </div>
                    </div>   
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Caption</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Caption" data-ng-model="vm.selectedField.caption">
                            </div>  
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Description</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Description" data-ng-model="vm.selectedField.displayDescription">
                            </div>  
                        </div>
                    </div>  
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Explaination</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Explaination" data-ng-model="vm.selectedField.explaination">
                            </div>  
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Form control</label>
                                <select chosen data-placeholder="Select control..." class="w-100"  data-ng-model="vm.selectedField.formControl">
                                    <option selected="selected" value="docattachments">Label</option>
                                    <option value="boolean">Check box</option>
                                    <option value="date">Text box</option>
                                    <option value="datetime">Date and time picker</option>
                                    <option value="decimal">Dropdown list</option>                                   
                                </select>
                            </div>  
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Watermark</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Watermark"  data-ng-model="vm.selectedField.watermark">
                            </div>  
                        </div>
                    </div> 
                </div>
                
                <div class="clearfix"></div>

                <div class="lv-footer-nav">
                    <button class="btn bgm-green" data-ng-click="vm.next()">Next <i class="zmdi zmdi-arrow-forward"></i></button>                
                </div>
            </div>
        </form>
    </div>
</div>