<div class="card-header ch-alt">
    <h2>New page type <code>(3/3)</code> <small>Please define custom fields of the page type and their appearance in the editing form. You can define fields, such as SKU, product weight, press release text, etc.</small></h2>  
</div>
<div class="card m-b-0 atopline" id="messages-main">
    <div class="ms-menu" data-ng-class="{ 'toggled': mactrl.lvMenuStat }">
        <div class="ms-block text-center">
             <div class="btn-group"> 
                <button type="button" class="btn btn-primary waves-effect"><i class="zmdi zmdi-plus"></i></button>
                <button type="button" class="btn btn-primary waves-effect"><i class="zmdi zmdi-chevron-up"></i></button>
                <button type="button" class="btn btn-primary waves-effect"><i class="zmdi zmdi-chevron-down"></i></button>
            </div>
        </div>

        <div class="listview lv-user m-t-20 lv-listview">            
            <div class="lv-field-item media active">
                <div class="lv-avatar pull-left">
                    <img src="core/cp/img/profile-pics/1.jpg" alt="">
                </div>
                <div class="media-body">
                    <div class="lv-title">Davil Parnell Davil Parnell Davil Parnell</div>
                    <div class="lv-small">Fierent fastidii recteque ad pro</div>
                </div>
            </div>

            <div class="lv-field-item media">
                <div class="lv-avatar bgm-red pull-left">a</div>
                <div class="media-body">
                    <div class="lv-title">Ann Watkinson</div>
                    <div class="lv-small">Cum sociis natoque penatibus </div>
                </div>
            </div>

            <div class="lv-field-item media">
                <div class="lv-avatar bgm-orange pull-left">m</div>
                <div class="media-body">
                    <div class="lv-title">Marse Walter</div>
                    <div class="lv-small">Suspendisse sapien ligula</div>
                </div>
            </div>

            <div class="lv-field-item media">
                <div class="lv-avatar pull-left">
                    <img src="core/cp/img/profile-pics/2.jpg" alt="">
                </div>
                <div class="media-body">
                    <div class="lv-title">Jeremy Robbins</div>
                    <div class="lv-small">Phasellus porttitor tellus nec</div>
                </div>
            </div>

            <div class="lv-field-item media">
                <div class="lv-avatar pull-left">
                    <img src="core/cp/img/profile-pics/3.jpg" alt="">
                </div>
                <div class="media-body">
                    <div class="lv-title">Reginald Horace</div>
                    <div class="lv-small">Quisque consequat arcu eget</div>
                </div>
            </div>

            <div class="lv-field-item media">
                <div class="lv-avatar bgm-cyan pull-left">s</div>
                <div class="media-body">
                    <div class="lv-title">Shark Henry</div>
                    <div class="lv-small">Nam lobortis odio et leo maximu</div>
                </div>
            </div>

            <div class="lv-field-item media">
                <div class="lv-avatar bgm-purple pull-left">p</div>
                <div class="media-body">
                    <div class="lv-title">Paul Van Dack</div>
                    <div class="lv-small">Nam posuere purus sed velit auctor sodales</div>
                </div>
            </div>

            <div class="lv-field-item media">
                <div class="lv-avatar pull-left">
                    <img src="core/cp/img/profile-pics/4.jpg" alt="">
                </div>
                <div class="media-body">
                    <div class="lv-title">James Anderson</div>
                    <div class="lv-small">Vivamus imperdiet sagittis quam</div>
                </div>
            </div>

            <div class="lv-field-item media">
                <div class="lv-avatar pull-left">
                    <img src="core/cp/img/profile-pics/6.jpg" alt="">
                </div>
                <div class="media-body">
                    <div class="lv-title">Kane Williams</div>
                    <div class="lv-small">Suspendisse justo nulla luctus nec</div>
                </div>
            </div>
            <div class="lv-field-item media">
                <div class="lv-avatar pull-left">
                    <img src="core/cp/img/profile-pics/4.jpg" alt="">
                </div>
                <div class="media-body">
                    <div class="lv-title">James Anderson</div>
                    <div class="lv-small">Vivamus imperdiet sagittis quam</div>
                </div>
            </div>

            <div class="lv-field-item media">
                <div class="lv-avatar pull-left">
                    <img src="core/cp/img/profile-pics/6.jpg" alt="">
                </div>
                <div class="media-body">
                    <div class="lv-title">Kane Williams</div>
                    <div class="lv-small">Suspendisse justo nulla luctus nec</div>
                </div>
            </div>
            <div class="lv-field-item media">
                <div class="lv-avatar pull-left">
                    <img src="core/cp/img/profile-pics/4.jpg" alt="">
                </div>
                <div class="media-body">
                    <div class="lv-title">James Anderson</div>
                    <div class="lv-small">Vivamus imperdiet sagittis quam</div>
                </div>
            </div>

            <div class="lv-field-item media">
                <div class="lv-avatar pull-left">
                    <img src="core/cp/img/profile-pics/6.jpg" alt="">
                </div>
                <div class="media-body">
                    <div class="lv-title">Kane Williams</div>
                    <div class="lv-small">Suspendisse justo nulla luctus nec</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ms-body">
        <form>
            <div class="listview lv-message">
                <div class="lv-header-alt clearfix">
                    <div id="ms-menu-trigger"  data-ng-class="{ 'open': mactrl.lvMenuStat }" data-ng-click="mactrl.lvMenuStat = (mactrl.lvMenuStat===true ? false : true )">
                        <div class="line-wrap">
                            <div class="line top"></div>
                            <div class="line center"></div>
                            <div class="line bottom"></div>
                        </div>
                    </div>

                    <div class="lvh-label hidden-xs">
                       Davil Parnell
                    </div>

                    <ul class="lv-actions actions">
                        <li>
                            <a href="">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="zmdi zmdi-check"></i>
                            </a>
                        </li>                        
                    </ul>
                </div>

                <div class="lv-body">
                     <div class="lv-field-item media">
                        <div class="col-sm-4">
                            &nbsp;
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <blockquote class="m-b-25">
                                <p class="text-uppercase">General</p>
                            </blockquote>
                        </div>
                    </div>                     
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Field name</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Field name">
                            </div>  
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Data type</label>
                                <select chosen data-placeholder="Select a country..." class="w-100">
                                    <option selected="selected" value="docattachments">Attachments</option>
                                    <option value="boolean">Boolean (Yes/No)</option>
                                    <option value="date">Date</option>
                                    <option value="datetime">Date and time</option>
                                    <option value="decimal">Decimal number</option>
                                    <option value="file">File</option>
                                    <option value="double">Floating-point number (Double precision)</option>
                                    <option value="integer">Integer number</option>
                                    <option value="longinteger">Long integer number</option>
                                    <option value="longtext">Long text</option>
                                    <option value="docrelationships">Pages</option>
                                    <option value="text">Text</option>
                                    <option value="timespan">Time interval</option>
                                    <option value="guid">Unique identifier (GUID)</option>
                                </select>
                            </div>  
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Size</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Size">
                            </div>  
                        </div>
                    </div>  
                     <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Required</label>
                                <div class="checkbox m-b-15">
                                    <label>
                                        <input type="checkbox" value="">
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>  
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Default value</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Default value">
                            </div>  
                        </div>
                    </div>                     
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <blockquote class="m-b-25">
                                <p class="text-uppercase">Field appearance</p>
                            </blockquote>
                        </div>
                    </div>   
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Caption</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Caption">
                            </div>  
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Description</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Description">
                            </div>  
                        </div>
                    </div>  
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Explaination</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Explaination">
                            </div>  
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Form control</label>
                                <select chosen data-placeholder="Select a country..." class="w-100">
                                    <option selected="selected" value="docattachments">Label</option>
                                    <option value="boolean">Check box</option>
                                    <option value="date">Text box</option>
                                    <option value="date">Text box</option>
                                    <option value="datetime">Date and time picker</option>
                                    <option value="decimal">Dropdown list</option>
                                    <option value="file">File</option>
                                    <option value="double">Floating-point number (Double precision)</option>
                                    <option value="integer">Integer number</option>
                                    <option value="longinteger">Long integer number</option>
                                    <option value="longtext">Long text</option>
                                    <option value="docrelationships">Pages</option>
                                    <option value="text">Text</option>
                                    <option value="timespan">Time interval</option>
                                    <option value="guid">Unique identifier (GUID)</option>
                                </select>
                            </div>  
                        </div>
                    </div> 
                    <div class="lv-field-item media">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label for="typeName">Watermark</label>
                                <input type="text" class="form-control input-sm" id="typeName" placeholder="Watermark">
                            </div>  
                        </div>
                    </div> 
                </div>
                
                <div class="clearfix"></div>

                <div class="lv-footer-nav">
                    <button class="btn bgm-green" data-ui-sref="types.add.4">Next <i class="zmdi zmdi-arrow-forward"></i></button>                
                </div>
            </div>
        </form>
    </div>
</div>