<div class="block-header">
    <h2>Partner Requests</h2>   
</div>

<div class="card">
    <div class="listview lv-bordered lv-lg">
        <div class="lv-header-alt clearfix">
            <h2 class="lvh-label hidden-xs"></h2>

            <div class="lvh-search" data-ng-if="mactrl.listviewSearchStat" data-ng-click="mactrl.listviewSearchStat">
                <input type="text" placeholder="Start typing..." class="lvhs-input">

                <i class="lvh-search-close" data-ng-click="mactrl.listviewSearchStat = false">&times;</i>
            </div>

            <ul class="lv-actions actions">
                <li>
                    <a href="" data-ng-click="mactrl.listviewSearchStat = true">
                        <i class="zmdi zmdi-search"></i>
                    </a>
                </li>                
            </ul>
        </div>

        <div class="lv-body">
            <div class="lv-item media">                
                <div class="media-body">
                    <div class="lv-title">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam</div>
                    <ul class="lv-attrs">
                        <li>Date Created: 11/06/1988</li>
                        <li>Phone: Yes</li>
                        <li>Email: 212</li>                        
                    </ul>
                    <div class="lv-actions actions">
                        <a href="">
                            <i class="zmdi zmdi-check"></i>
                        </a>     
                        <a href="">
                            <i class="zmdi zmdi-info"></i>
                        </a>                  
                    </div>                    
                </div>
            </div>
        </div>
    </div>    
</div>

