<div class="card-header ch-alt">
    <h2>New page <small>Please enter following information...</small></h2>
    <ul class="actions">        
        <li>
            <a href="" data-ng-click="vm.next()">
                <i class="zmdi zmdi-arrow-forward"></i>
            </a>
        </li>
    </ul>    
</div>
<div class="card-body card-padding">   
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>  
    <div>
        <small>Page type is <code>structure</code> with following information.</small>
    </div>    
    <div>&nbsp;</div>
</div>    