<div class="card-header ch-alt">
    <h2>New page <small>Please select new page template...</small></h2>   
</div>

<div class="card-body card-padding">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>     
    <div>
        <small>Page template is formatting of page.</small>
    </div>    
    <div>&nbsp;</div>
    <div class="dropdown-basic-demo clearfix">
        <ul class="dropdown-menu dm-icon" role="menu">
            <li data-ng-repeat="item in vm.items"><a data-ng-click="vm.next(item)"><i class="zmdi zmdi-file zmdi-hc-fw"></i> {{item.displayName}}</a></li>
        </ul>
    </div>
</div>    