<div class="card">
    <div class="card-header ch-alt">
        <h2><span data-ng-bind="vm.title"></span> <small>Every page on a website is based on a page template.</small></h2>  
    </div>
    
    <div class="card-body card-padding">    
        <form role="form">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label for="typeDisplayName">Display name</label>
                        <input type="text" class="form-control input-sm" id="typeDisplayName" data-ng-model="vm.data.displayName" placeholder="Page template display name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group fg-line">                    
                        <label for="namespace">Template</label>
                        <div ui-ace="{
                                        require: ['ace/ext/language_tools'],                                       
                                        useWrapMode : false,
                                        showGutter: true,                                        
                                        mode: 'javascript',
                                        firstLineNumber: 1,
                                        onLoad: vm.aceLoaded,
                                        onChange: vm.aceChanged,
                                        onBlur : vm.aceBlured,
                            }" data-ng-model="vm.data.template"></div>
                    </div>
                </div>
            </div>
        </form>   
    </div> 
    <div class="card-body card-padding">     
        <button class="btn bgm-green" data-ng-click="vm.save()"><i class="zmdi zmdi-check-circle"></i> Save</button>
    </div>
</div>