<div class="card-header ch-alt">
    <h2>New page type <code>(3/4)</code> <small>Please define custom fields of the page type and their appearance in the editing form. You can define fields, such as SKU, product weight, press release text, etc.</small></h2>
    <ul class="actions">
        <li>
            <a href="" data-ng-click="vm.back()">
                <i class="zmdi zmdi-arrow-back"></i>
            </a>
        </li>
        <li>
            <a href="" data-ng-click="vm.next()">
                <i class="zmdi zmdi-arrow-forward"></i>
            </a>
        </li>
    </ul>  
</div>
<fields-editor data-fields="vm.data.fields"></fields-editor>        
