<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">FAQs
            <!--small>Subheading</small-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a>
            </li>
            <li class="active">FAQs</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Where is your location?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>- Our main company is located at Lot A5.5-A5.6, Green Island Villas, Hoa Cuong Bac Ward, Hai Chau District, Danang City, Vietnam.</p>
                        <p>- The representative office address is at Alley 01, Lane 36, Tran Dien Street, Dinh Cong Ward, Hoang Mai District, Hanoi City.</p>
                        <p>- The showroom address is at 400/1B Nguyen Kiem Street, Phu Nhuan District, Ho Chi Minh City.</p>
                        <p>*For scheduled visit and direction, please coordinate with Duong [Mr.]  (Tel: +84918681991)</p>
                    </div>
                </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Are you open everyday?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>-We are open all times 24/7 to satisfy customer’s expectation.</p>
                    </div>
                </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Do you customize designs based on our theme? Do you charge extra for that?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>-We are open all times 24/7 to satisfy customer’s expectation.</p>
                        <p>- That is a great idea! We are willing to customize designs based on client’s requirement. Just send us detail of dimensions, pictures, pantone color, layout, description for assessment,…. Most customized designs require minimum pieces to order.</p>
                        <p>- Price varies depending on the item, design and pieces to order.</p>
                    </div>
                </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What is about your sample policy?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>- We are willing to provide samples free for serious customers. However, customers will pay  the delivery cost of providing us their courier service’s account numbers (Fedex, DHL,…)</p>
                        <p>- The normal sampling time will be around 15 days.</p>
                        <p>- Some special samples will be charged for making mould, this amount will be returned when placing official order.</p>
                    </div>
                </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Term of payment ?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>- We accept payment by TTr30/70 or L/C At sight. (Details of Bank Accounts will be forwarded to Customer once orders are final thru Invoice)</p>
                    </div>
                </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What is the minimum quantity order (MOQ) and the minimum order value (MOV)?</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>- MOQ: 200 pcs. (Depending on prices, materials and styles: MOQ could be varied)</p>
                        <p>- MOV: 10000 USD. We kindly surcharge 300 USD  if the amount is under 10,000 USD</p>
                    </div>
                </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">What is your shipping port?</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>- We provide our customers FOB price in USD. </p>
                        <p>- Our main sea ports are Hai Phong port and Sai Gon port, Vietnam.</p>
                    </div>
                </div>
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What is your shipping terms?</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>- 70 days as per our normal policy.</p>
                        <p>- Furthermore, depending on materials and styles, the delivery of the Goods shall be agreed between the Seller and the Buyer at the time the order is placed.</p>
                    </div>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.panel-group -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->