<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            The best choice and perfect...
        </h1>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="heading-upper"><i class="fa fa-fw fa-check"></i> Service 1</h5>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="heading-upper"><i class="fa fa-fw fa-gift"></i> Service 2</h5>                
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="heading-upper"><i class="fa fa-fw fa-compass"></i> Service 3</h5>                
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<!-- Portfolio Section -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Portfolio Heading</h2>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="home-products/1.gif" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="home-products/2.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="home-products/3.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="home-products/4.jpg" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="home-products/5.jpg" alt="">
        </a>
    </div>
</div>
<!-- /.row -->

<!-- Features Section -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Modern Business Features</h2>
    </div>
    <div class="col-md-6">
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
            <li><strong>Bootstrap v3.3.7</strong>
            </li>
            <li>jQuery v1.11.1</li>
            <li>Font Awesome v4.2.0</li>
            <li>Working PHP contact form with validation</li>
            <li>Unstyled page elements for easy customization</li>
            <li>17 HTML pages</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="home-products/featured.png" alt="">
    </div>
</div>
<!-- /.row -->
{{#if data.auth}}        
{{else}}
    <hr>    
    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>To view full catalogue, please <a href="/auth">login</a> or send the request to us, after reviewing your submitted information, we will send back to you access information.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block mk-button" href="/request">Request Full Catalogue</a>
            </div>
        </div>
    </div>
{{/if}}


