<h1>Your account on MK Handicrafts to access full catalogue has been created.</h1>
<p>
    By using your email and password: <strong>{{password}}</strong><br/>
    You can <a href="{{login_url}}">login</a> to our website to view full catalogue<br/>
    Thank you for your visiting our website!!!
</p>